@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
    --main-color: linear-gradient(90deg, #247D7D -8.33%, #12ABCD 100%);
    --background-color: #0A0C10;
    --sidebar-color: #0a0c10b4;
    --text-color1: #247D7D;
    --text-color2:#FFFFFF;
    --text-color3:#0A0C10;
    --text-color4: #12ABCD;
}


/*ANIMAÇÃO DE TEXTO*/
    @keyframes typing{ /*até aonde vai a animação no class atribuído*/
        from{
            width: 0;
        }
        to {
            width: 6.94em;
        }
    }

    @keyframes typing-animation { /*animação da barra de digitação*/
        0% {
            border-right-color: transparent; 
        }
        50% {
            border-right-color: rgba(255, 255, 255, 0.75);
        }
        100%{
            border-right-color: transparent;
        }
    }

    /* [data-aos][data-aos][data-aos-delay="200"].aos-animate, body[data-aos-delay="200"] [data-aos].aos-animate {
        transition-delay: .2s;
    }

    [data-aos^=fade][data-aos^=fade].aos-animate {
        opacity: 1;
        transform: translateZ(0);
    }

    [data-aos][data-aos][data-aos-delay="200"], body[data-aos-delay="200"] [data-aos] {
        transition-delay: 0;
    }

    [data-aos][data-aos][data-aos-easing=ease], body[data-aos-easing=ease] [data-aos] {
        transition-timing-function: ease;
    }

    [data-aos][data-aos][data-aos-duration="1000"], body[data-aos-duration="1000"] [data-aos] {
        transition-duration: 1s;
    }

    [data-aos^=fade][data-aos^=fade] {
        opacity: 0;
    } */

    .typing-animation{ /*animação para atribuição*/
        animation: typing-animation 1000ms infinite normal, typing steps(15)/*steps representa os passos da barra de digitação*/ 2s/*tempo da animação*/ 2s/*tempo para aparecer a animação*/ normal both;
    
    }

    .line { /*barra da animação para atribuição*/
        border-right: 3px solid rgba(255, 255, 255, .765);
        color: var(--text-color2);
        font-size: 3em;
        margin: 0 auto;
        white-space: nowrap;
        overflow: hidden;
    }

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    
}
/*CABEÇALHO*/
    header {
        position: fixed;
        width: 100%;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 101;
        letter-spacing: 5em;
        background: var(--background-color);
        
    }

    header ul a {
        color: var(--text-color2);
        letter-spacing: 1px;
        text-decoration: none;
        font-size: 1.3em;
        
    }

    header #img_menu {
        display: none;
    }
/*DIV PRINCIPAL*/
    .home {
        display: flex;
        flex-direction: row;
        width: 100% auto;
        height: 100vh;
        background: var(--background-color);
    }

    .containerFront {
        display: flex;
    }

    .esquerda {
        display: flex;
        justify-content: right;
        align-items: center;
        width: 50%;
    }
        .apr {
            display: flex;
            flex-direction: column;
            width: 70%;
            height: 50%;
        }
        
            .apr h3 {
                padding-left: 1em;
                font-size: 2em;
                color: var(--text-color2);
            }

            .dg {
                margin-right: 15em;
            }
                .apr .dg h1 {
                    font-size: 3em;
                    /* padding-left: 45%; */
                }
            
            .apr h2 {
                /* padding-left: 10.8em; */
                color: var(--text-color4);
            }
            
            .apr p{
                text-align: left;
                font-size: 1.2em;
                font-weight: 300;
                color: var(--text-color2);
            }

            .infos p{
                /* padding-right: 2px; */
                text-decoration: none;
                font-size: 1.2em;
                font-weight: 600;
            }

    .direita {
        background: none;
        width: 50%;
        justify-content: center;
        align-items: center;
    }
          /*TAMANHO DA LOGO E POSICIONAMENTO*/
          #img_logo {
            max-width: 17em; 
            display: block;
        }

        .logo {
            height: 50%;
            width: 55%;
        }


.links {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color2);
    background: var(--text-color4);
    margin: 0;
}

.links_cont{
    color: var(--text-color2);
    background: var(--text-color4);
    margin: 0;
    display: flex;
    justify-content: center;
}

.contact {
    margin: 10rem 0;;
}

.contact .container h2 {
    font-size: 2.5rem;
    color: var(--text-color2);
    font-weight: 300;
}

.contact .container a {
    font-size: 3rem;
    color: var(--text-color4);
    font-weight: 300;
    margin-left: 1rem;
    transition: margin-left 0.5s ease;
}

a {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

h3 {
    display: block;
    font-size: 1em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}


.footer-container img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1em;
    width: 4em;
    height: 4em;
}

.infos{
    display: flex;
    margin-top: 1em;
    margin-left: 3em;
    margin-bottom: 1em;
    width: 12.5em;
    height: 10em;
}

.container-link {
    display: flexbox;
    width: 20em;
    padding-top: 1em;
    align-items: center;
    height: 120px;
    width: 200px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--background-color);
}

.btn-scroll{
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.btn-scroll h4{
    color: white;
}

.projetos {
    display: flexbox;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right, #1a1717 , var(--text-color3));
}

.repositorio {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    gap: 2em;
    padding: 0px 100px 0px 100px;
}

.repositorio .rigth{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
} 

.repositorio .rigth .descricao {
    display: flex;
    flex-direction: column;
    height: 270px;
    width: 350px;
}

.repositorio .rigth .descricao p{
    font-family: 'Rowdies', sans-serif;
    color: var(--text-color2);
    font-size: 1em;
    padding-left: 2em;
    height: 1.5em;
    width: 100% auto;
}
.repositorio .rigth .descricao .p1_tec h1{
    color: var(--text-color4);
    font-size: 1em;
    padding-left: 2em;
    width: 100% auto;
    height: 1.5em;
}

.p1_tec {
    display: flex;
    align-items: center;
    gap: 1em;
    height: 2em;
    margin-bottom: 2em;
    
}

.p1_tec .p_html5, .p_css3 {
    height: 3em;

}

.descricao_p{
    color: var(--text-color2);
    background: none;
}

.project {
    display: flex;
    margin-bottom: 5em;
    gap: 1em;
    height: 550px;
    align-items: center;
}

.projeto_direita {
    align-self: flex-end;
    flex-direction: row-reverse;
}

.left_img {
    border: solid 1.5px var(--text-color4);
}

.project .rigth .img_p {
    height: 200px;
    width: 400px;
}

.img_pm {
    height: 400px;
    width: 250px;
}

.buttons {
   display: flex;
   width: 100% auto;
   height: 4em;
   padding: 0;
   margin: 0;
   align-items: center;
   justify-content: center;
   gap: 1em;
   margin-top: 3em;
}

.btn {
    display: flex;
    border-radius: 2px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.buttons .p_site {
    font-size: 1em;
    background: var(--text-color4);
    color: var(--text-color3);
    height: 2.7em;
    width: 7em;
    border: solid 1px #afafafb2;
}

.buttons .p_cod {
    color: #FFFFFF;
    background: var(--text-color3);
    font-size: 1em;
    height: 2.7em;
    width: 7em;
    border: solid 1px var(--text-color4);
}

@media screen and (max-width: 850px) {
    
    .home {
        display: flex;
    }

    .direita {
        display: none;
    }

    .esquerda {
        width: 100%;
        justify-content: center;
    }

    .projetos {
        display: flex;
    }

    .repositorio {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }

    .project {
        height: 550px;
    }

    h3 {
        font-size: 2rem;
    }
    
}

@media only screen and (max-width: 690px) {

    header > ul {
        display: none;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-left: 10px; /* Adiciona um pequeno espaçamento à esquerda */    
    }

    header #img_menu {
        display: block; /* Use block para img em vez de flex */
        width: 60px;
        height: 60px;
        margin-right: 20px; /* Adiciona um pequeno espaçamento à esquerda do menu */
    }

    .home {
        height: 900px;
    }

    .apr{
        padding-bottom: 17em;
    }

    .apr .dg h1{
        font-size: 2.5em;
    }

    .repositorio{
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .project{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 1000px;
    }

    .projeto_direita{
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .left_img {
        border: solid 1.5px var(--text-color4);
    }
    
    .project .rigth .img_p {
        height: 170px;
        width: 320px;
    }
    
    .img_pm {
        height: 450px;
        width: 320px;
    }
    
    .buttons {
       gap: 1.8em;
       margin-top: 3.4em;
    }

    .repositorio .rigth .descricao {
        height: 260px;
        width: 250px;
    }

    .repositorio .rigth .descricao .p1_tec h1{
        font-size: 0.8em;
    }

    .repositorio .rigth .descricao p{
        font-size: 0.9em;
        width: 90% auto;
    }

    .buttons {
        height: 3em;
        gap: 1.5em;
        margin-top: 4em;
     }
     
     .btn {
         height: 2.7em;
     }
     
     .buttons .p_site {
         font-size: 1em;
     }
     
     .buttons .p_cod {
         font-size: 1em;
     }

     .menu {
        display: none; /* Menu inicialmente escondido */
        padding: 0; /* Remove padding */
        margin: 0; /* Remove margin */
        position: fixed; /* Torna o menu absoluto */
        top: 60px; /* Ajusta a posição para aparecer abaixo da imagem */
        left: 0;
        background-color: rgba(0, 0, 0, 0.3); /* Fundo preto transparente */
        z-index: 1000; /* Garante que o menu fique acima de outros elementos */
        width: 100%; /* Faz com que o menu ocupe a largura total do header */
        height: 100%;
    }
    
    .menu.show {
        display: block; /* Mostra o menu quando a classe "show" é adicionada */
    }
    
    .menu a {
        display: flex; /* Faz com que os links se comportem como blocos */
        text-decoration: none; /* Remove underline dos links */
        color: var(--text-color2); /* Ajuste a cor do texto conforme necessário */
        flex-direction: row-reverse;
        padding-top: 5px;
        padding-right: 20px;
    }

    h3 {
        font-size: 1rem;
    }
    
}
