@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
    --main-color: linear-gradient(90deg, #247D7D -8.33%, #12ABCD 100%);
    --background-color: #0A0C10;
    --sidebar-color: #0a0c10b4;
    --text-color1: #247D7D;
    --text-color2:#FFFFFF;
    --text-color3:#0A0C10;
    --text-color4: #12ABCD;
}

@keyframes typing{ /*até aonde vai a animação no class atribuído*/
    from{
        width: 0;
    }
    to {
        width: 6.94em;
    }
}

@keyframes typing-animation { /*animação da barra de digitação*/
    0% {
        border-right-color: transparent; 
    }
    50% {
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    100%{
        border-right-color: transparent;
    }
}

.typing-animation{ /*animação para atribuição*/
    animation: typing-animation 1000ms infinite normal, typing steps(15)/*steps representa os passos da barra de digitação*/ 2s/*tempo da animação*/ 2s/*tempo para aparecer a animação*/ normal both;
    
}

.line { /*barra da animação para atribuição*/
    border-right: 3px solid rgba(255, 255, 255, .765);
    color: var(--text-color2);
    font-size: 3em;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    position: fixed;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 101;
    gap: 1em;
    letter-spacing: 3em;
    background: var(--background-color);
    
}

header ul a {
    color: var(--text-color2);
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 1.3em;
    
}

#img_logo {
    margin-right: 10em;
    max-width: 50%; 
    display: block;
}

main {
    display: flexbox;
}

main h1{
    padding-left: 45%;
}

.links {
    color: var(--text-color2);
    background: var(--text-color4);
    margin: 0;
}

.links_cont{
    color: var(--text-color2);
    background: var(--text-color4);
    margin: 0;
    display: flex;
    justify-content: center;
}

.containerFront {
    display: flex;
}

.home {
    display: flex;
    height: 918px;
    background: var(--background-color);
}

.direita {
    background: none;
    justify-content: center;
    align-items: center;
}

.esquerda {
    display: flex;
    background-color: none;
}
.apr {
    height: 50%;
    width: 45%;
    padding-top: 18em;
    padding-left: 10em;
}

.apr h3 {
    padding-left: 1em;
    font-size: 2em;
    color: var(--text-color2);
}

.apr h2 {
    padding-left: 10.8em;
    color: var(--text-color4);
}

.apr p{
    text-align: left;
    padding-left: 1.2em;
    font-size: 1.2em;
    font-weight: 300;
    color: var(--text-color2);
}

.apr h1 {
    font-size: 3em;
}

.dg {
    margin-right: 15em;
}

.logo {
    height: 50%;
    width: 55%;
    background: blue;
}

.contatos img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1em;
    width: 4em;
    height: 4em;
}

.infos{
    display: flex;
    margin-top: 1em;
    margin-left: 3em;
    margin-bottom: 1em;
    width: 12.5em;
    height: 10em;
}

.infos p{
    padding-right: 2px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
}

.container-link {
    display: flexbox;
    width: 20em;
    padding-top: 1em;
    align-items: center;
    height: 120px;
    width: 200px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.contatos {
    display: flex;
    
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #1a1717 , var(--text-color3));
}

.projetos {
    display: flexbox;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right, #1a1717 , var(--text-color3));
}

.repositorio {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    gap: 2em;

}

.repositorio .rigth{
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    width: 400px;
    height: 400px;
} 

.repositorio .rigth .descricao {
    display: flexbox;
    height: 220px;
    width: 100%;
}

.repositorio .rigth .descricao p{
    font-family: 'Rowdies', sans-serif;
    color: var(--text-color2);
    font-size: 1em;
    padding-left: 2em;
    height: 1.5em;
    width: 100% auto;
}
.repositorio .rigth .descricao .p1_tec h1{
    color: var(--text-color4);
    font-size: 1em;
    padding-left: 2em;
    width: 100% auto;
    height: 1.5em;
}

.p1_tec {
    display: flex;
    align-items: center;
    gap: 1em;
    height: 2em;
    margin-bottom: 2em;
    
}

.p1_tec .p_html5, .p_css3 {
    height: 3em;

}

.descricao_p{
    color: var(--text-color2);
    background: none;
}

.projeto_direita {
    display: flex;
    flex-direction: row;
    margin-left: 12em;
    margin-top: 7em;
    margin-bottom: 8em;
}

.projeto_esquerda {
    display: flex;
    flex-direction: row-reverse;
    gap: 1.2em;
    margin-right: 12em;
    margin-top: 1em;
    margin-bottom: 8em;
}

.projeto_esquerda .rigth {
    display: flex;
}

.left_img {
    border: solid 1.5px var(--text-color4);
}

.img_p {
    height: 200px;
    width: 400px;
}

.img_pm {
    height: 400px;
    width: 250px;
}

.buttons {
   display: flex;
   width: 100% auto;
   height: 4em;
   padding: 0;
   margin: 0;
   align-items: center;
   gap: 3.8em;
   margin-top: 3em;
}

.btn {
    display: flex;
    border-radius: 2px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.buttons .p_site {
    font-size: 1em;
    background: var(--text-color4);
    color: var(--text-color3);
    height: 2.7em;
    width: 7em;
    border: solid 1px #afafafb2;
}

.buttons .p_cod {
    color: #FFFFFF;
    background: var(--text-color3);
    font-size: 1em;
    height: 2.7em;
    width: 7em;
    border: solid 1px var(--text-color4);
}